

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <800>;
  font-style: normal;
}


/* download resume and name style */
nav{
display: flex;
width: 1200px;
gap: 650px;
justify-content: center;
margin-top: 30px;
}
h3 {
    font-size: 17px;
    margin-left: 30px;

}
.btn-resume {
    border: solid black 1px;
    padding: 10px 20px ;
   margin: 20px;
   margin-right: 130spx;
    color:  #0D1321;
    font-size: 18px;
    font-weight: bold ;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
/* download resume and name style  end */

/* banner style started */
.banner {
    background-image: url(./assets/Hero-bg.png); 
    width: 1200px;
    height: 600px;
   
}
img{
   display: block;
   margin: auto;
}
.content {
    width: 1200px;
   height: 200ppx;
   
   
}
.content-bold {
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 35px ;
    font-weight: bold;
}
.content-small {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 16px ;
    font-weight: small;
}
button{
   
    
    text-align: center;
    justify-content: center;
   padding: 20px 50px;
   margin: auto;
   display: block;
    margin-top: 40px;
    border: solid 1px black;
    border-radius: 5px;
    
}
.contract-me {
    width: 200px;
    height: 45px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0D1321;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold ;
}
/* banner style end */
/* why web development part started */
.why-web{
    height: 1400px;
   width: 1120px;
}
.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    gap: 150px;
}
.first-line {
    text-align: center;
    margin-top: 70px ;

}
.why-learn-web {
    text-align: center; 
}
.change-the-world {
   margin-left: 80px;
   width: 400px;
   margin-top: 5px;
   text-align: left;
}
.get-knowledge{
    text-align: left;
    margin-left: 80px;
    

}
#first-btn {
    text-align: left;
    margin-left: 80px;
    padding: 10px 35px; 
    font-size: 18px;
    font-weight: bold ;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
/* first section finished */
/* second section stated */
.second-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    gap: 20spx;
    margin-left: 150px;

}
/* second section finished */
/* third section started */
.third-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    gap: 150px;
    margin-bottom: 50px;
} 
/* third section finished */
/* my Inspiration part started */
.Inspiration {
    text-align: center;
    margin-top: 200px;
    font-size: small;
    padding: 25px;
    margin-bottom: 50px;
}  
.video {
    border: solid rgb(248, 243, 243)  20px;
    border-radius: 5px;
}
/* my Inspiration part finished */
/* my current target */
.my-target {
    text-align: center;
    margin-top: 100px;
    font-size: small;
    padding: 25px;
    margin-bottom: 50px;
}
.all-logo {
     display: flex;
     gap: 20px;
     margin: 50px 170px;
}
.html-logo {
    background-color: rgba(241, 236, 236, 0.817) ;
    width: 230px ;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
    align-items: left;
}
    
   
.css-logo {
    background-color: #ebf6ebc9 ;
    width: 230px ;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
    align-items: left;
   
}
    
.js-logo { 
     background-color: rgba(249, 247, 247, 0.744);
     width: 230px ;
     height: 200px;
     display: flex;
     flex-direction: column;
     padding-left: 15px;
     text-align: left;
     align-items: left;  
    }
    /* i am trying my best to set the img left top */
    /* my current target is complete */
.next-target {
    text-align: center;
    margin-top: 20px;
    font-size: small;
    padding: 25px;
    margin-bottom: 5px;
}
.js-style {
    width: 900px;
    height: 140px;
    margin: 20px;
    border: solid 1px rgba(20, 20, 20, 0.329);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left:140px ;
    padding: 5px;
}
.js-text {
    text-align: left;
    padding: 7px;
    font-size: small;
}
.node-style {
    width: 900px;
    height: 140px;
    margin: 20px;
    border: solid 1px rgba(20, 20, 20, 0.329);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left:140px ;
    padding: 5px;  
}
.node-text {
    text-align: left;
    padding: 7px;
    font-size: small; 
}
.mongo-style {
    width: 900px;
    height: 140px;
    margin: 20px;
    border: solid 1px rgba(20, 20, 20, 0.329);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left:140px ;
    padding: 5px;  
}
.mongo-text {
    text-align: left;
    padding: 7px;
    font-size: small; 
}
/* next target style finished */
/* now i will start footer section */
.ftr-style {
    width: 900px;
    height: 180px;
    margin: 50px;
    border: solid 1px rgba(20, 20, 20, 0.329);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin-left:140px ;
    padding: 10px; 
    background-image: url(../resurse/assets/handshake.jpg);
    background-size: cover;
    background-position: center;
}
.ftr-text {
    text-align: center;
    font-size: small;
}
.btn-input {
    display: flex;
   gap: 10px;
   grid-row-end: left;
  
}
.suggestion {
    width: 400px;
    height: 30px;
    align-items: center;
    margin-left: 200px;
}
.btn-sub {
    font-weight: bolder;
}





